@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-width: 1050px;
}

section {
    position: sticky!important;
    top: 5px!important;
}

.top {
    margin: 20px auto;
    border-radius: 50px;
    box-shadow: 0 3px 5px 0 gray;
    width: 1000px;
    min-height: 75vh;
    max-height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    align-items: center;
    background-color: #db7c26;
    padding: 75px;
}

.left {
    grid-column: 1/2;
    grid-row: 1/2;

}

h1 {
    text-align: center;
    font-family: 'Darumadrop One', cursive;
    font-size: 4rem;
    color: #780116;
    text-shadow: 3px 3px 3px black;
    margin: 0 auto;
    padding: 0 40px 20px 40px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.503);
    box-shadow: 0 5px 5px 0 black;
}

ul {
    margin: 30px auto;
    list-style: none;
    text-align: center;
    font-family: Helvetica;
    font-size: 1.25rem;
    color: black;
    font-weight: bolder;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.503);
    box-shadow: 0 5px 5px 0 black;
}

#mike-photo {
    height: 640px;
    margin: 0 auto;
    grid-column: 2/3;
    grid-row: span 2;
    position: relative;
    animation-name: biker;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 3s;
}

@keyframes biker {
    0% {left: 0px; top: 0px;}
    20% {left: -100px; top: 100px;}
    30% {left: -200px; top: 200px;}
    40% {left: -300px; top: 300px;}
    50% {left: -400px; top: 400px;}
    60% {left: -500px; top: 500px;}
    70% {left: -600px; top: 600px;}
    80% {left: -700px; top: 700px;}
    90% {left: -800px; top: 800px;}
    95% {left: -900px; top: 900px;}
    100% {left: -1000px; top: 1000px;}
}

div.social-media {
    display: flex;
    margin: 0 auto;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 15px 20px;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.503);
    box-shadow: 0 5px 5px 0 black;
    align-self: flex-start;
}

div.social-media > a > img {
    width: 40px;
    margin: 0 15px;    
}

div.social-media > a > img:hover {
    width: 35px;
}

.bottom {
    margin: 10px auto;
    border-radius: 50px;
    box-shadow: 0 3px 5px 0 gray;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d8572a;
    justify-content: center;
    padding: 50px 100px;
}

div.about-me {
    margin: 25px auto 0 0;
    background-color: rgba(255, 255, 255, 0.503);
    box-shadow: 0 5px 5px 0 black;
    align-self: flex-start;
    border-radius: 20px;
    padding: 45px;
}

p {
    font-family: helvetica;
    margin-top: 15px;
    font-size: 1.195rem;
}

